<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ijigo | Account</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="../assets/style.css" />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-primary-ijigo">
        <div class="container-fluid">
          <a class="navbar-brand" href="home.html">
            <img src="../assets/icons/ijigo.png" alt="logo ijigo" width="80" />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="collapse navbar-collapse justify-content-end"
            id="navbarNav"
          >
            <ul class="navbar-nav">
              <li class="nav-item mx-5">
                <a
                  class="nav-link text-dark h5"
                  aria-current="page"
                  href="home.html"
                  >Home</a
                >
              </li>
              <li class="nav-item mx-5">
                <a class="nav-link text-dark h5" href="waiting-list.html"
                  >Waiting List</a
                >
              </li>
              <li class="nav-item mx-5">
                <a class="nav-link text-dark h5" href="history.html">History</a>
              </li>
              <li class="nav-item mx-5">
                <a href="account.html" class="link-dark">
                  <i class="bi bi-person-circle" style="font-size: 1.8rem"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <section>
        <form>
          <div class="container">
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-12">
                <img
                  class="d-block mx-auto mt-4"
                  src="../assets/icons/dummy-profile.png"
                  alt="profile picture"
                  width="100"
                />
                <h2 class="fw-bold text-center mt-2">Nama Pelanggan</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-3 col-lg-3 my-2">
                <p class="h5">
                  Nomor Telepon
                  <button
                    type="button"
                    class="btn"
                    id="edit-telepon"
                    onclick="editTelepon()"
                  >
                    <i class="bi bi-pencil-square"></i>
                  </button>
                  <button
                    type="submit"
                    class="btn d-none"
                    id="save-telepon"
                    onclick="saveTelepon()"
                  >
                    <i class="bi bi-check-lg"></i>
                  </button>
                </p>

                <input
                  class="form-control"
                  type="number"
                  name="telepon"
                  id="telepon"
                  value="08123456789"
                  disabled="true"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-3 col-lg-3 my-2">
                <p class="h5">
                  Email
                  <button
                    type="button"
                    class="btn"
                    id="edit-email"
                    onclick="editEmail()"
                  >
                    <i class="bi bi-pencil-square"></i>
                  </button>
                  <button
                    type="submit"
                    class="btn d-none"
                    id="save-email"
                    onclick="saveEmail()"
                  >
                    <i class="bi bi-check-lg"></i>
                  </button>
                </p>
                <input
                  class="form-control"
                  type="email"
                  name="email"
                  id="email"
                  value="mail@example.com"
                  disabled
                />
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-3 col-lg-3 my-2">
                <p class="h5">
                  Password
                  <button
                    type="button"
                    class="btn"
                    id="edit-password"
                    onclick="editPassword()"
                  >
                    <i class="bi bi-pencil-square"></i>
                  </button>
                  <button
                    type="submit"
                    class="btn d-none"
                    id="save-password"
                    onclick="savePassword()"
                  >
                    <i class="bi bi-check-lg"></i>
                  </button>
                </p>
                <div class="input-group">
                  <input
                    class="form-control"
                    type="password"
                    name="password"
                    id="password"
                    value="password"
                    disabled
                  />
                  <span class="input-group-text" id="see-password">
                    <i class="bi bi-eye" id="password-icon"></i>
                  </span>
                </div>
              </div>
            </div>
            <div class="row justify-content-end">
              <div class="col-sm-12 col-md-2 col-lg-2 my-2">
                <a href="login.html" class="btn btn-orange">Logout</a>
              </div>
            </div>
          </div>
        </form>
      </section>
    </main>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
      crossorigin="anonymous"
    ></script>
    <script src="../assets/script.js"></script>
  </body>
</html>
